   <!--DADOS GERAIS-->
   <table class="mdl-data-table mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--12-col">
      <thead>
         <tr>
            <th class='border'>Time inicial</th>
            <th class='border'>Paddi</th>
            <th class='border'>Qadd</th>
            <th class='border'>Side</th>
            <th class='border'>Padds</th>
            <th class='border'>Qadds</th>
            <th class='border'>Paddf</th>
            <th class='border'>x</th>
            <th class='border'>Paddw</th>
            <th class='border'>Qaddw</th>
            <th class='border'>Paddsw</th>
            <th class='border'>Qaddsw</th>
            <th class='border'>Time final</th>
            <th class='border'>VWAP</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td><%= info['start_time'] %></td>
            <td class='border'><%= info['paddi'] %></td>
            <td class='border'><%= info['qadd'] %></td>
            <td class='border'><%= info['side'] %></td>
            <td class='border'><%= info['padds'] %></td>
            <td class='border'><%= info['qadds'] %></td>
            <td class='border'><%= info['paddf'] %></td>
            <td class='border'><%= info['x'] %></td>
            <td class='border'><%= info['paddw'] %></td>
            <td class='border'><%= info['qaddw'] %></td>
            <td class='border'><%= info['paddsw'] %></td>
            <td class='border'><%= info['qaddsw'] %></td>
            <td class='border'><%= info['end_time'] %></td>
            <td><%= info['vwap'] %></td>
         </tr>
      </tbody>
   </table>