<h5 class="mdl-cell mdl-cell--12-col" style="margin:15px"></h5>
<table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--3-col">
   <thead>
      <tr>
         <th class='border'><%= qaddx %> DELL</th>
         <th class='border'><%= qaddx %> CHANGE</th>
         <th class='border'><%= qaddx %> ADD</th>
         <th class='border'><%= qaddx %> CANCEL</th>
         <th class='border'><%= qaddx %> TOTAL</th>
         <th class='border'><%= qaddx %> SALDO</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td id='<%= qaddx.downcase  %>_dell_1'   class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_change_1' class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_add_1'    class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_cancel_1' class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_total_1'  class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_saldo_1'  class='border'>xxxx</td>
      </tr>
      <tr>
         <td id='<%= qaddx.downcase  %>_dell_2'   class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_change_2' class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_add_2'    class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_cancel_2' class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_total_2'  class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_saldo_2'  class='border'>xxxx</td>
      </tr>
      <tr>
         <td id='<%= qaddx.downcase  %>_dell_3'   class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_change_3' class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_add_3'    class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_cancel_3' class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_total_3'  class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_saldo_3'  class='border'>xxxx</td>
      </tr>
      <tr>
         <td id='<%= qaddx.downcase  %>_dell_4'   class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_change_4' class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_add_4'    class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_cancel_4' class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_total_4'  class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_saldo_4'  class='border'>xxxx</td>
      </tr>
      <tr>
         <td id='<%= qaddx.downcase  %>_dell_5'   class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_change_5' class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_add_5'    class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_cancel_5' class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_total_5'  class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_saldo_5'  class='border'>xxxx</td>
      </tr>
      <tr>
         <td id='<%= qaddx.downcase  %>_dell_6'   class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_change_6' class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_add_6'    class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_cancel_6' class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_total_6'  class='border'>xxxx</td>
         <td id='<%= qaddx.downcase  %>_saldo_6'  class='border'>xxxx</td>
      </tr>
   </tbody>
</table>

