<% if !tick['less50'].blank? or !tick['more50'].blank? %>
<div class="mdl-grid demo-content">
   
   <!-- Total --->
   <h5 class="mdl-cell mdl-cell--12-col box">Sobre a ocorrência</h5>
   <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--3-col">
      <thead>
         <tr>
            <th class='border'>ADD < 50</th>
            <th class='border'>ADD >= 50</th>
            <th class='border'>TOTAL</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td class='border'><%= tick['less50'].length %></td>
            <td class='border'><%= tick['more50'].length %></td>
            <td class='border'><%= tick['less50'].length + tick['more50'].length %></td>
         </tr>
      </tbody>
   </table>
  
   <!--SELECT-->
   <div class="mdl-color--white  mdl-cell mdl-cell--12-col mdl-grid">
      <select name="select" class="mdl-shadow--2dp">
         <option value="" disabled selected>ADD < 50 </option>
         
         <% for occ in tick['less50']%>
         <% occ = occ['informacoes']['start_time'] %>
            <option value="hurr"><%= occ %></option>
         <% end %>
         
      </select>
      <select name="select" class="mdl-shadow--2dp">
         <option value="" disabled selected>ADD >= 50</option>
         <% for occ in tick['more50']%>
         <% occ = occ['informacoes']['start_time'] %>
            <option value="hurr"><%= occ %></option>
         <% end %>
      </select>
   </div>
   
   <% if !tick['more50'].blank? %>
      <!--DADOS GERAIS-->
      <%= render :partial => "informacoes", locals: {info: tick['more50'][0]['informacoes']} %>
   <% end %>
   <!--DISPONIVEL & RISCOS-->
   
   <% if tick['more50'][0]['informacoes']['side'] == 'C'%>
      <%= render :partial => "disponivel_c",locals:{disp: tick['more50'][0]['disponivel'],risk: tick['more50'][0]['risco'],risks: tick['more50'][0]['risco_stop']}%>
   <%else%>
      <%= render :partial => "disponivel_v",locals:{disp: tick['more50'][0]['disponivel'],risk: tick['more50'][0]['risco'],risks: tick['more50'][0]['risco_stop']}%>
   <% end %>
 
    <div class='mdl-grid'>
   <!--Snapshot-->
   <h5 class="mdl-cell mdl-cell--12-col box">Snapshot</h5>
   <%= render :partial => "snapshots" %>
   </div>
   <!--Spread Zerado-->
   <h5 class="mdl-cell mdl-cell--12-col box">Spread Zerado:</h5>
   <%= render :partial => "spreadzerado" %>
   
   <!--Spread Zerado + 3 Segundos-->
   <h5 class="mdl-cell mdl-cell--12-col box" >Spread Zerado + 3 Segundos:</h5>
   <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--1-col">
      <thead>
         <tr>
            <th class='border'>Frequência Máxima</th>
            <th class='border'>Frequência Mínima</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td class='border'>1</td>
            <td class='border'>0.5</td>
         </tr>
      </tbody>
   </table>
   <h5 class="mdl-cell mdl-cell--12-col" style="margin:15px"> </h5>
   <%= render :partial => "spreadzerado" %>
  
   
   <!--Resultados estatísticos-->
   <h5 class="mdl-cell mdl-cell--12-col box">Resultados estatísticos</h5>
   <%= render :partial => "resultados" %>
</div>
<% end %>