

<!-- Simple header with scrollable tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span id="day" class="mdl-layout-title">Estudos do Book - <%= "#{@day.split('-')[2]}/#{@day.split('-')[1]}/#{@day.split('-')[0]}" %></span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        
    <% for i in 2..10 %>
      <% if i == 2 and (@infos[i]['less50'].size +  @infos[i]['more50'].size) > 0  %>
          <a href="#scroll-tab-<%= i %>" class="mdl-layout__tab is-active" onclick="tab_ticks(<%= i %>)"><%= i %> tick</a>
      <% elsif (@infos[i]['less50'].size +  @infos[i]['more50'].size) > 0  %>
          <a href="#scroll-tab-<%= i %>" class="mdl-layout__tab"  onclick="tab_ticks(<%= i %>)"><%= i %> tick</a>
      <% end %>
    <% end %>
    
    
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Sair
    
    <a href='<%= destroy_user_session_path %>' class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
      <i class="material-icons">exit_to_app</i>
    </a>
    
    </span>
    <nav class="mdl-navigation">
        
        
        <a class="mdl-navigation__link" href="/qubox/2017-03-17">17/03/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-03-21">21/03/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-03-22">22/03/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-03-23">23/03/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-03-24">24/03/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-03-27">27/03/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-03-28">28/03/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-03-29">29/03/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-03-30">30/03/2017</a>

<a class="mdl-navigation__link" href="/qubox/2017-03-31">31/03/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-04-03">03/04/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-04-04">04/04/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-04-05">05/04/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-04-06">06/04/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-04-07">07/04/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-04-10">10/04/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-04-11">11/04/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-04-12">12/04/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-04-13">13/04/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-04-17">17/04/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-04-18">18/04/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-04-19">19/04/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-04-20">20/04/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-04-24">24/04/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-04-25">25/04/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-04-26">26/04/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-04-27">27/04/2017</a>

<a class="mdl-navigation__link" href="/qubox/2017-04-28">28/04/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-05-03">03/05/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-05-04">04/05/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-05-05">05/05/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-05-08">08/05/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-05-09">09/05/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-05-10">10/05/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-05-11">11/05/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-05-12">12/05/2017</a>
<a class="mdl-navigation__link" href="/qubox/2017-05-15">15/05/2017</a>



        
      
    </nav>
  </div>
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-2">
      <div class="page-content"><%= 
      
       render :partial => "ticks", locals: {tick: @infos[2], i: 2 }
      
      %></div>
    </section>
    
    <% for i in 3..10 %>
    <section class="mdl-layout__tab-panel" id="scroll-tab-<%= i %>">
      <div class="page-content"><%= 
      
      render :partial => "ticks", locals: {tick: @infos[i], i: i }
      
      
      %></div>
    </section>
    <% end %>
  
  </main>
</div>

<script>
  $( document ).ready(function() {
    // load_json('<%= @day %>');
  });
</script>