

<!-- Simple header with scrollable tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span id="day" class="mdl-layout-title">Estudos do Book - <%= @day %></span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        
    <% for i in 2..10 %>
      <% if i == 2%>
          <a href="#scroll-tab-<%= i %>" class="mdl-layout__tab is-active" onclick="tab_ticks(<%= i %>)"><%= i %> tick</a>
      <% else %>
          <a href="#scroll-tab-<%= i %>" class="mdl-layout__tab"  onclick="tab_ticks(<%= i %>)"><%= i %> tick</a>
      <% end %>
    <% end %>
    
    
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Sair
    
    <a href='<%= destroy_user_session_path %>' class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
      <i class="material-icons">exit_to_app</i>
    </a>
    
    </span>
    <nav class="mdl-navigation">
        
        <% for day in @days %>
          <a class="mdl-navigation__link" href="<%= day_path day  %>"><%= day %></a>
        <% end %>
      
    </nav>
  </div>
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-2">
      <div class="page-content"><%= render :partial => "ticks", locals: {tick:  @data['2'], i: 2} %></div>
    </section>
    
    <% for i in 3..10 %>
    <section class="mdl-layout__tab-panel" id="scroll-tab-<%= i %>">
      <div class="page-content"><%= render :partial => "ticks", locals: {tick: @data["#{i}"], i: i     }%></div>
    </section>
    <% end %>
  
  </main>
</div>