<p id="notice"><%= notice %></p>

<p>
  <strong>Bid price 0:</strong>
  <%= @mbp.bid_price_0 %>
</p>

<p>
  <strong>Bid quantity 0:</strong>
  <%= @mbp.bid_quantity_0 %>
</p>

<p>
  <strong>Ask price 0:</strong>
  <%= @mbp.ask_price_0 %>
</p>

<p>
  <strong>Ask quantity 0:</strong>
  <%= @mbp.ask_quantity_0 %>
</p>

<p>
  <strong>Bid price 1:</strong>
  <%= @mbp.bid_price_1 %>
</p>

<p>
  <strong>Bid quantity 1:</strong>
  <%= @mbp.bid_quantity_1 %>
</p>

<p>
  <strong>Ask price 1:</strong>
  <%= @mbp.ask_price_1 %>
</p>

<p>
  <strong>Ask quantity 1:</strong>
  <%= @mbp.ask_quantity_1 %>
</p>

<p>
  <strong>Bid price 2:</strong>
  <%= @mbp.bid_price_2 %>
</p>

<p>
  <strong>Bid quantity 2:</strong>
  <%= @mbp.bid_quantity_2 %>
</p>

<p>
  <strong>Ask price 2:</strong>
  <%= @mbp.ask_price_2 %>
</p>

<p>
  <strong>Ask quantity 2:</strong>
  <%= @mbp.ask_quantity_2 %>
</p>

<p>
  <strong>Bid price 3:</strong>
  <%= @mbp.bid_price_3 %>
</p>

<p>
  <strong>Bid quantity 3:</strong>
  <%= @mbp.bid_quantity_3 %>
</p>

<p>
  <strong>Ask price 3:</strong>
  <%= @mbp.ask_price_3 %>
</p>

<p>
  <strong>Ask quantity 3:</strong>
  <%= @mbp.ask_quantity_3 %>
</p>

<p>
  <strong>Bid price 4:</strong>
  <%= @mbp.bid_price_4 %>
</p>

<p>
  <strong>Bid quantity 4:</strong>
  <%= @mbp.bid_quantity_4 %>
</p>

<p>
  <strong>Ask price 4:</strong>
  <%= @mbp.ask_price_4 %>
</p>

<p>
  <strong>Ask quantity 4:</strong>
  <%= @mbp.ask_quantity_4 %>
</p>

<%= link_to 'Edit', edit_mbp_path(@mbp) %> |
<%= link_to 'Back', mbps_path %>
