<p id="notice"><%= notice %></p>

<h1>Listing Snapshots</h1>

<table>
  <thead>
    <tr>
      <th>Number of snapshot</th>
      <th>Qaddw dell</th>
      <th>Qaddw change</th>
      <th>Qaddw add</th>
      <th>Qaddw cancel</th>
      <th>Qaddsw dell</th>
      <th>Qaddsw change</th>
      <th>Qaddsw add</th>
      <th>Qaddsw cancel</th>
      <th>Qadd dell</th>
      <th>Qadd change</th>
      <th>Qadd add</th>
      <th>Qadd cancel</th>
      <th>Vwap</th>
      <th>Rps</th>
      <th>Frequencia</th>
      <th>Tinha buraco</th>
      <th>Acumulado</th>
      <th>Delete no add</th>
      <th>Teve iceberg</th>
      <th>Teve add secundario</th>
      <th>Preco</th>
      <th>Ofi</th>
      <th>Id mbp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snapshots.each do |snapshot| %>
      <tr>
        <td><%= snapshot.number_of_snapshot %></td>
        <td><%= snapshot.qaddw_dell %></td>
        <td><%= snapshot.qaddw_change %></td>
        <td><%= snapshot.qaddw_add %></td>
        <td><%= snapshot.qaddw_cancel %></td>
        <td><%= snapshot.qaddsw_dell %></td>
        <td><%= snapshot.qaddsw_change %></td>
        <td><%= snapshot.qaddsw_add %></td>
        <td><%= snapshot.qaddsw_cancel %></td>
        <td><%= snapshot.qadd_dell %></td>
        <td><%= snapshot.qadd_change %></td>
        <td><%= snapshot.qadd_add %></td>
        <td><%= snapshot.qadd_cancel %></td>
        <td><%= snapshot.vwap %></td>
        <td><%= snapshot.rps %></td>
        <td><%= snapshot.frequencia %></td>
        <td><%= snapshot.tinha_buraco %></td>
        <td><%= snapshot.acumulado %></td>
        <td><%= snapshot.delete_no_add %></td>
        <td><%= snapshot.teve_iceberg %></td>
        <td><%= snapshot.teve_add_secundario %></td>
        <td><%= snapshot.preco %></td>
        <td><%= snapshot.ofi %></td>
        <td><%= snapshot.id_mbp %></td>
        <td><%= link_to 'Show', snapshot %></td>
        <td><%= link_to 'Edit', edit_snapshot_path(snapshot) %></td>
        <td><%= link_to 'Destroy', snapshot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snapshot', new_snapshot_path %>
