<p id="notice"><%= notice %></p>

<p>
  <strong>Number of snapshot:</strong>
  <%= @snapshot.number_of_snapshot %>
</p>

<p>
  <strong>Qaddw dell:</strong>
  <%= @snapshot.qaddw_dell %>
</p>

<p>
  <strong>Qaddw change:</strong>
  <%= @snapshot.qaddw_change %>
</p>

<p>
  <strong>Qaddw add:</strong>
  <%= @snapshot.qaddw_add %>
</p>

<p>
  <strong>Qaddw cancel:</strong>
  <%= @snapshot.qaddw_cancel %>
</p>

<p>
  <strong>Qaddsw dell:</strong>
  <%= @snapshot.qaddsw_dell %>
</p>

<p>
  <strong>Qaddsw change:</strong>
  <%= @snapshot.qaddsw_change %>
</p>

<p>
  <strong>Qaddsw add:</strong>
  <%= @snapshot.qaddsw_add %>
</p>

<p>
  <strong>Qaddsw cancel:</strong>
  <%= @snapshot.qaddsw_cancel %>
</p>

<p>
  <strong>Qadd dell:</strong>
  <%= @snapshot.qadd_dell %>
</p>

<p>
  <strong>Qadd change:</strong>
  <%= @snapshot.qadd_change %>
</p>

<p>
  <strong>Qadd add:</strong>
  <%= @snapshot.qadd_add %>
</p>

<p>
  <strong>Qadd cancel:</strong>
  <%= @snapshot.qadd_cancel %>
</p>

<p>
  <strong>Vwap:</strong>
  <%= @snapshot.vwap %>
</p>

<p>
  <strong>Rps:</strong>
  <%= @snapshot.rps %>
</p>

<p>
  <strong>Frequencia:</strong>
  <%= @snapshot.frequencia %>
</p>

<p>
  <strong>Tinha buraco:</strong>
  <%= @snapshot.tinha_buraco %>
</p>

<p>
  <strong>Acumulado:</strong>
  <%= @snapshot.acumulado %>
</p>

<p>
  <strong>Delete no add:</strong>
  <%= @snapshot.delete_no_add %>
</p>

<p>
  <strong>Teve iceberg:</strong>
  <%= @snapshot.teve_iceberg %>
</p>

<p>
  <strong>Teve add secundario:</strong>
  <%= @snapshot.teve_add_secundario %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @snapshot.preco %>
</p>

<p>
  <strong>Ofi:</strong>
  <%= @snapshot.ofi %>
</p>

<p>
  <strong>Id mbp:</strong>
  <%= @snapshot.id_mbp %>
</p>

<%= link_to 'Edit', edit_snapshot_path(@snapshot) %> |
<%= link_to 'Back', snapshots_path %>
