<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @info.index %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @info.start_time %>
</p>

<p>
  <strong>Paddi:</strong>
  <%= @info.paddi %>
</p>

<p>
  <strong>Qadd:</strong>
  <%= @info.qadd %>
</p>

<p>
  <strong>Side:</strong>
  <%= @info.side %>
</p>

<p>
  <strong>Padds:</strong>
  <%= @info.padds %>
</p>

<p>
  <strong>Qadds:</strong>
  <%= @info.qadds %>
</p>

<p>
  <strong>Paddf:</strong>
  <%= @info.paddf %>
</p>

<p>
  <strong>X:</strong>
  <%= @info.x %>
</p>

<p>
  <strong>Paddw:</strong>
  <%= @info.paddw %>
</p>

<p>
  <strong>Qaddw:</strong>
  <%= @info.qaddw %>
</p>

<p>
  <strong>Paddsw:</strong>
  <%= @info.paddsw %>
</p>

<p>
  <strong>Qaddsw:</strong>
  <%= @info.qaddsw %>
</p>

<p>
  <strong>End time:</strong>
  <%= @info.end_time %>
</p>

<p>
  <strong>Paddw calculo:</strong>
  <%= @info.paddw_calculo %>
</p>

<p>
  <strong>Paddw financeiro:</strong>
  <%= @info.paddw_financeiro %>
</p>

<p>
  <strong>Paddsw lucro:</strong>
  <%= @info.paddsw_lucro %>
</p>

<p>
  <strong>Paddw calculo plus:</strong>
  <%= @info.paddw_calculo_plus %>
</p>

<p>
  <strong>Paddw financeiro plus:</strong>
  <%= @info.paddw_financeiro_plus %>
</p>

<p>
  <strong>Paddsw lucro plus:</strong>
  <%= @info.paddsw_lucro_plus %>
</p>

<p>
  <strong>Disponivel:</strong>
  <%= @info.disponivel %>
</p>

<p>
  <strong>Risco:</strong>
  <%= @info.risco %>
</p>

<p>
  <strong>Risco stop:</strong>
  <%= @info.risco_stop %>
</p>

<p>
  <strong>Risk fila:</strong>
  <%= @info.risk_fila %>
</p>

<p>
  <strong>Snap 1:</strong>
  <%= @info.snap_1 %>
</p>

<p>
  <strong>Snap 2:</strong>
  <%= @info.snap_2 %>
</p>

<p>
  <strong>Snap 3:</strong>
  <%= @info.snap_3 %>
</p>

<p>
  <strong>Snap 4:</strong>
  <%= @info.snap_4 %>
</p>

<p>
  <strong>Snap 5:</strong>
  <%= @info.snap_5 %>
</p>

<p>
  <strong>Snap 6:</strong>
  <%= @info.snap_6 %>
</p>

<p>
  <strong>Snap 7:</strong>
  <%= @info.snap_7 %>
</p>

<p>
  <strong>Ticks:</strong>
  <%= @info.ticks %>
</p>

<p>
  <strong>Day:</strong>
  <%= @info.day %>
</p>

<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
